/* Styles for a reddit post */

.redditItem {
    width: 30em;
    padding: 0.7em
}

.redditTitle {
    background-color: #ddc8c0;
    text-align: center;
    border-radius: 12%;
    font-size: 0.9em;
}

.redditThumbnail img{
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
}

.redditFooter, .commentLink {
    color: grey;
}

.commentLink {
    text-decoration: none;
    font-weight: bold;
}

.commentLink:hover {
    background-color: grey;
    color: white;
}



/*Reddit Container styles*/
#redditItems {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: azure;
}

main {
    background-color:#ece9e8
}